/* Réinitialisation */
* {
    box-sizing: border-box;
    font-family: "Raleway", serif;
    font-style: normal;
    }
    

h1{
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}


.cv-container {
    width: 1160px;
    background: #f5f5f5;
    box-shadow: 0px 4px 5px rgba(51,51,51);
}

/* En-tête */
header{
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding: 20px;
    background: #17abb3;
    color: #ffffff;
   }
.photo img {
    border-radius: 50%;
    border:  solid  ;
    cursor: zoom-in;
}

.infos {
    flex-grow: 1;
    text-align: center;
}

.contacts a,
.contacts span {
    display: inline-block;
    margin-top: 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

/* Contenu principal */
main {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
}

/* Barre latérale */
.sidebar {
width:30%;
padding: 20px;
background: #f5f5f5;
}
.sidebar h3 {
    margin-bottom: 15px;
    color: #17abb3
}

.sidebar ul {
    list-style: none;
    margin-bottom: 20px;
}

.sidebar ul li {
    padding: 5px 0;
}
.sidebar li i{
    color: #17abb3;
    padding: 40px;
}
.star{
    display: flex;
    justify-content:right; 
    align-items: center;
    padding: 5px;
    color: #17abb3;
}

.niveau{
     display: flex;
     justify-content:right; 
    align-items: center;
    color:#17abb3;
    padding: 5px;      
    }
.gras{
    font-weight: bold;
    color: black;
}

/* Section principale */
.content{
    width: 60%;
    padding: 20px;
    color: black;
    background-color: #ffffff;
}
.content h3{
    border-bottom: 2px solid grey;
    color:#17abb3;
    
}
.content li{
    margin-top: 30px;
    margin-bottom: 30px;
}
.date{
    
   color:#17abb3;
 

}
/* Pied de page */
footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: #17abb3;
    color: #ffffff;
  
}
footer a {
    justify-content: center;
    color: #ffffff;
    font-size: 24px;
}

footer i{
    justify-content: right;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

